
*{margin: 0;}
.bg-img {
width: 100vw;
height: 100vh;
background-color: greenyellow;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/61/Tachyglossus_aculeatus_side_on.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover; 

}